/*@import 'navbar.css';
@import 'feed.css';
@import 'layout.css';
@import 'sidebar.css';
@import 'colors.css';
@import 'userprofile.css';

@import 'bootstrap/popover.css';

@import 'helpers/button.css';
@import 'helpers/icon.css';*/

@import 'bootstrap/popover.css';

html {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px !important;
}

@media only screen and (max-height: 500px) {
    html {
        height: 500px;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow: auto;
}

#root {
    height: 100%;
}

::placeholder {
    color: #c0c0c0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul, li { list-style-type: none; margin: 0; padding: 0; }

label { margin: 0; }

button { background: transparent; border: none; }

/*.app-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.screen-container {
    overflow-y: scroll;
    background: #fafafa;
    padding: 25px;
    width: 100%;
}*/