.navbar-container {
    padding: 30px 60px;
    border-bottom: 1px solid #eee;
    display: flex;
    width: 100%;
}

.navbar-section {
    display: flex;
    align-items: center;
}

.logo-container,
.menu-container {
    width: 30%;
}

.menu-container {
    justify-content: flex-end;
}

.search-container {
    width: 40%;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 100%;
    border-radius: 5px;
    background: #fafafa;
    border: 1px solid #eee;
    padding: 5px 10px;
}

.search-item {
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}

.search-item:hover {
    background: #eee;
}

.search-item:last-child {
    border: none;
}