.sidebar-container {
    padding: 15px;
    width: 20%;
    min-width: 250px;
    border-right: 1px solid #eee;
}

.sidebar-title {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.contact-item {
    align-items: center;
    display: flex;
    padding: 5px 0 5px 5px;
}

.contact-item:hover {
    background: #fafafa;
    cursor: pointer;
}

.contact-item .avatar-container {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media only screen and (max-width: 640px) {
    .sidebar-container {
        display: none;
    }
}